@tailwind base;
@tailwind components;
@tailwind utilities;


.button-categories:hover,
.button-firstpage:hover {
    transform: translateY(-0.25rem);
    scale: 1.1;
}

.button-firstpage,
.button-categories {
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    color: white;

}

.button-categories {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgb(236 72 153), rgb(139 92 246));
    font-weight: bold;
    margin-right: 1rem;
    text-decoration: underline;
    text-decoration-color: rgb(236 72 153 / 0.6);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.button-firstpage {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(248 113 113), rgb(244 114 182));
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.category-text,
.navbar-bg {
    background: linear-gradient(to left, rgb(248 113 113 /0.8), rgb(244 114 182/0.8));
    color: white;
    font-weight: lighter;
}

.text-gradient,
.toppic-about,
.about-cafe {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgb(236 72 153), rgb(139 92 246));
    font-weight: bold;
}

.toppic-about {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.about-cafe {
    font-size: 2rem;
    margin-top: 2rem;
}

.about-details{
    font-weight: lighter;
}

.image-allmenu {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.menucard {
    height: auto;
    background-color: white;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.fullprice {
    color: #047857; 
    font-weight: 600; 
  }

.menucard:hover {
    background-color: rgb(252 231 243);
    transform: scale(1);
    transform: translateY(-0.9375rem);
}

.discount {
    color: #e53e3e;
    font-weight: 600;
}

.fullprice-linethrough {
    color: #666;
    font-weight: 600;
    font-size: 14px; 
    text-decoration: line-through;
  }

.navbar {
    margin-right: 0.5rem;
    text-decoration: underline;
}

.callBtn {
    position: sticky;
    top: 0;
    z-index: 1000;
}